package {{package}}.controller;

import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RestController;
import {{package}}.dto.{{entity.camel}}DTO;
import {{package}}.model.{{entity.camel}};
import {{package}}.service.{{entity.camel}}Service;

@RestController
@RequestMapping("/api/{{entity.camel}}")
public class {{entity.camel}}Controller extends BaseController<{{entity.camel}}, {{entity.camel}}DTO, Long> {
    private final {{entity.camel}}Service service;

    public {{entity.camel}}Controller({{entity.camel}}Service service) {
        super(service);
        this.service = service;
    }
}