package {{package}}.dto;

import lombok.AllArgsConstructor;
import lombok.Getter;
import lombok.NoArgsConstructor;
import lombok.Setter;

@NoArgsConstructor
@AllArgsConstructor
@Getter
@Setter
public class {{entity.camel}}DTO extends BaseDTO<Long> {
    {%- for attribute in entity.attributes %}
    {%- if 'userDefined' in attribute %}
    private {{attribute.type}}DTO {{attribute.key}};
    {%- else %}
    private {{attribute.type}} {{attribute.key}};
    {%- endif %}
    {%- endfor %}
}