package {{package}}.mapper;

import org.mapstruct.Mapper;
import org.springframework.stereotype.Component;
import {{package}}.dto.{{entity.camel}}DTO;
import {{package}}.model.{{entity.camel}};

@Mapper(componentModel = "spring")
public interface {{entity.camel}}Mapper extends BaseMapper<{{entity.camel}}, {{entity.camel}}DTO, Long> {}