package {{package}}.model;

import lombok.AllArgsConstructor;
import lombok.Getter;
import lombok.NoArgsConstructor;
import lombok.Setter;

import javax.persistance.*;

@Entity
@NoArgsConstructor
@AllArgsConstructor
@Getter
@Setter
public class {{entity.camel}} extends BaseModel<Long> {
    {%- for attribute in entity.attributes %}
    private {{attribute.type}} {{attribute.key}};
    {%- endfor %}
}