package {{package}}.repository;

import org.springframework.data.repository.JpaRepository;
import org.springframework.stereotype.Repository;
import {{package}}.model.{{entity.camel}};

@Repository
public interface {{entity.camel}}Repository extends JpaRepository<{{entity.camel}}, Long> {}
