package {{package}}.service;

import org.springframework.stereotype.Service;
import {{package}}.dto.{{entity.camel}}DTO;
import {{package}}.mapper.{{entity.camel}}Mapper;
import {{package}}.model.{{entity.camel}};
import {{package}}.repository.{{entity.camel}}Repository;

@Service
public class {{entity.camel}}Service extends BaseService<{{entity.camel}}, {{entity.camel}}DTO, Long> {
    private final {{entity.camel}}Repository repository;
    private final {{entity.camel}}Mapper mapper;

    public {{entity.camel}}Service({{entity.camel}}Repository repository, {{entity.camel}}Mapper mapper) {
        super(repository, mapper);
        this.repository = repository;
        this.mapper = mapper;
    }
}