import { NgModule } from "@angular/core";
import { RouterModule, Routes } from "@angular/router";
import { HomeComponent } from "@components/home/home.component";
import { LoginComponent } from "@components/login/login.component";
import { NotFoundComponent } from "@components/not-found/not-found.component";
import { AuthGuard } from "@guards/auth.guard";

{%- for entity in entities.values() %}
import { {{ entity.camel }}Component } from "@components/{{ entity.kebab }}/{{ entity.kebab }}.component";
{%- endfor %}

const routes: Routes = [
  {
    path: "",
    component: HomeComponent,
  },
  {%- for entity in entities.values() %}
  {
    path: "{{entity.kebab}}",
    component: {{entity.camel}}Component,
    canActivate: [AuthGuard],
    data: {
      allowedRoles: ["ROLE_ADMIN", "ROLE_USER"],
      validationMethod: "any",
    },
  },
  {%- endfor %}
  {
    path: "login",
    component: LoginComponent,
  },
  {
    path: "**",
    component: NotFoundComponent,
  },
];

@NgModule({
  imports: [RouterModule.forRoot(routes)],
  exports: [RouterModule],
})
export class AppRoutingModule {}
