<h2>{{ title }}</h2>

<hr />

<app-{{entity.kebab}}-form
  [element]="{{entity.lower_camel}}"
  (process)="process($event)"
></app-{{entity.kebab}}-form>

<hr />

<app-table
  [attributes]="attributes"
  [elements]="{{entity.lower_camel}}Arr"
  (edit)="setCurrent($event)"
  (delete)="delete($event)"
></app-table>