<h2>{{ title }}</h2>

<form [formGroup]="form" (submit)="confirm()">
  {%- for attribute in entity.attributes %}
  <div>
    <label>
      {{ attribute.name }}:
      {%- if attribute.control != 'select' %}
      <input type="{{attribute.control}}" formControlName="{{attribute.key}}"/>
      {%- else %}
      {%- if 'userDefined' in attribute %}
      {%- set val = (attribute.type[0] | lower)+(attribute.type[1:]) %}
      <select formControlName="{{attribute.key}}" [compareWith]="compare">
        <option *ngFor="let {{val}} of {{val}}Arr" [ngValue]="{{val}}">
          PRESENT DATA AS YOU WISH
        </option>
      </select>
      {%- else %}
       <select formControlName="{{attribute.key}}">
        <option>PLACEHOLDER! REPLACE ME!</option>
        <option>REPLACE ME AS WELL!</option>
      </select>
      {%- endif %}
      {%- endif %}
    </label>
  </div>
  {%- endfor %}
  <div>
    <input
      *ngIf="form.value.id === null"
      type="submit"
      value="Create"
    />
    <span *ngIf="form.value.id !== null">
      <input type="submit" value="Edit" />
      <input (click)="cancel()" type="button" value="Cancel" />
    </span>
  </div>
</form>
