<div class="menu">
  {%- for entity in entities.values() %}
  <a
    *ngIf="loginService.validateRoles(['ROLE_ADMIN', 'ROLE_USER'], 'any')"
    [routerLink]="['/{{entity.kebab}}']"
  >
    {{entity.camel}}
  </a>
  {%- endfor %}
  <a *ngIf="!loginService.token" [routerLink]="['/login']">Login</a>
  <a *ngIf="loginService.token" (click)="loginService.logout()">Logout</a>
</div>
