import { Injectable } from '@angular/core';
import { RestService } from './rest.service';
import { {{entity.camel}} } from '@models/{{entity.kebab}}';

@Injectable({
  providedIn: 'root',
})
export class {{entity.camel}}Service extends RestService<{{entity.camel}}> {
  protected override url: string = `${this.url}/{{entity.kebab}}/`;
}
