import { TestBed } from '@angular/core/testing';

import { {{entity.camel}}Service } from './{{entity.kebab}}.service';

describe('{{entity.camel}}Service', () => {
  let service: {{entity.camel}}Service;

  beforeEach(() => {
    TestBed.configureTestingModule({});
    service = TestBed.inject({{entity.camel}}Service);
  });

  it('should be created', () => {
    expect(service).toBeTruthy();
  });
});
