package {{package}}.controller;

import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RestController;
import {{package}}.dto.{{entity}}DTO;
import {{package}}.model.{{entity}};
import {{package}}.service.{{entity}}Service;

@RestController
@RequestMapping("/api/{{path}}")
public class {{entity}}Controller extends BaseController<{{entity}}, {{entity}}DTO, Long> {
    private {{entity}}Service service;

    public {{entity}}Controller({{entity}}Service service) {
        super(service);
    }
}