package {{package}}.controller;

import org.springframework.web.bind.annotation.RequestMapping;
import {{package}}.dto.{{entity}}DTO;
import {{package}}.model.{{entity}};
import {{package}}.service.{{entity}}Service;

@RequestMapping("/api/{{path}}")
public class {{entity}}Controller extends BaseController<{{entity}}, {{entity}}DTO, Long> {
    // FIXME: add attribute here?

    public {{entity}}Controller({{entity}}Service service) {
        super(service);
    }
}
