package {{package}}.mapper;

import org.springframework.stereotype.Component;
import {{package}}.dto.{{entity}}DTO;
import {{package}}.model.{{entity}};

@Component
public interface {{entity}}Mapper extends BaseMapper<{{entity}}, {{entity}}DTO> {}