package {{package}}.app.repository;

import {{package}}.app.model.{{entity.camel}};
import {{package}}.shared.repository.BaseRepository;
import org.springframework.stereotype.Repository;

@Repository
public interface {{entity.camel}}Repository extends BaseRepository<{{entity.camel}}, Long> {}
