package {{package}}.app.service;

import org.springframework.stereotype.Service;
import {{package}}.app.dto.{{entity.camel}}DTO;
import {{package}}.app.mapper.{{entity.camel}}Mapper;
import {{package}}.app.model.{{entity.camel}};
import {{package}}.app.repository.{{entity.camel}}Repository;
import {{package}}.shared.service.BaseService;

@Service
public class {{entity.camel}}Service extends BaseService<{{entity.camel}}, {{entity.camel}}DTO, Long> {
    private final {{entity.camel}}Repository repository;
    private final {{entity.camel}}Mapper mapper;

    public {{entity.camel}}Service({{entity.camel}}Repository repository, {{entity.camel}}Mapper mapper) {
        super(repository, mapper);
        this.repository = repository;
        this.mapper = mapper;
    }
}