package {{package}}.service;

import lombok.AllArgsConstructor;
import org.springframework.stereotype.Service;
import {{package}}.dto.{{entity}}DTO;
import {{package}}.mapper.{{entity}}Mapper;
import {{package}}.model.{{entity}};
import {{package}}.repository.{{entity}}Repository;

@Service
@AllArgsConstructor
public class {{entity}}Service extends BaseService<{{entity}}, {{entity}}DTO, Long> {
    private {{entity}}Repository repository;
    private {{entity}}Mapper mapper;
}