package {{package}}.service;

import org.springframework.stereotype.Service;
import {{package}}.dto.{{entity}}DTO;
import {{package}}.mapper.{{entity}}Mapper;
import {{package}}.model.{{entity}};
import {{package}}.repository.{{entity}}Repository;

@Service
public class {{entity}}Service extends BaseService<{{entity}}, {{entity}}DTO, Long> {
    private final {{entity}}Repository repository;
    private final {{entity}}Mapper mapper;

    public {{entity}}Service({{entity}}Repository repository, {{entity}}Mapper mapper) {
        super(repository, mapper);
        this.repository = repository;
        this.mapper = mapper;
    }
}